<a href="https://colab.research.google.com/github/vittoriadelsignore/Python/blob/main/Arrays_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1: Generar un array aleatorio de 100 elementos y calcular su mediana

In [ ]:
import numpy as np

In [ ]:
array_aleat_100elem=np.random.randint(100,size=100)  # array de 100 elementos aleatorios, con valores de 0 a 99
array_aleat_100elem                                  # llamar al array

array([53,  0, 41,  4,  9, 11, 29, 13, 34, 25, 93, 20, 10, 24, 91, 17, 41,
       93, 56, 30, 52, 38, 75, 76,  5, 11, 96, 22, 30, 99, 36, 66, 96, 84,
       21, 16, 29, 46, 12, 58, 68, 45,  9, 92, 13, 48, 18,  9, 85,  5, 55,
       72, 24, 63, 12, 96, 61, 92, 78, 48,  4, 59,  2,  6, 60, 10, 64, 53,
       32, 64, 30, 94, 16, 29, 89, 72, 98, 39, 73, 79, 66, 87, 86, 12, 18,
       80, 90,  8, 89, 96, 49, 61, 95, 70, 80, 82,  3,  7, 22, 69])

In [ ]:
res=np.median(array_aleat_100elem)                   # calcular la mediana con numpy
print(res)                                           # prueba para verificar que el codigo funciona

55.5

# Ejercicio 2: Recordar los ejercicios de calculo factorial y sumatoria de la entrega de clase 2 y repetir el ejercicio pero con los ndarrays

Factorial similar al ejercicio practico anterior

In [ ]:
def factorial(x):                    # definir el factorial
    resultado=1                      # empieza por el numero 1
    array=np.array(range(1,x+1))     # uso de los arrays
    for number in array:             # for para iterar mediante un range de valores consecutivos del 1 al x+1
        resultado*=number            # el resultado va multiplicando por cada valor del range
    return resultado                 # muestra el resultado

In [ ]:
res=factorial(5)                     # el calculo para obtener el resultado final con x=5
print(res)                           # prueba para verificar que el codigo funciona

120

Factorial con funciones de numpy

In [ ]:
x=1                                   # primer valor siempre es 1
y=5                                   # segundo valor a definir por el usuario
resultadofactorial=np.arange(x,y+1)   # uso de arrays
print(resultadofactorial.prod())      # funcion para calcular el factorial

120

In [ ]:
res=resultadofactorial.prod()          # aca se prueba la funcion con los numeros 2 y 6 como ejemplo
print(res)                       # prueba para verificar que el codigo funciona

120

Sumatoria similar a ejercicio anterior

In [ ]:
def suma(x,y):                   # definir la funcion
    total=0                      # empezar por total=0
    array=np.array(range(x,y+1)) # uso de los arrays
    if y>x:                      # si el segundo valor es mayor que el primero
        for i in array:          # definir el rango
            total+=i             # se incrementa segun los valores en el range
    else:                        # si el segundo valor es menor o igual al primero, muestra el texto
        print('el segundo numero es menor o igual al primero')
    return total                 # muestra el total

In [ ]:
res=suma(2,6)                    # aca se prueba la funcion con los numeros 2 y 6 como ejemplo
print(res)                       # prueba para verificar que el codigo funciona

20

Sumatoria con numpy

In [ ]:
x=2                              # primer valor
y=6                              # segundo valor
sumasecuencia=np.arange(x,y+1)   # uso de arrays
print(sumasecuencia.sum())       # funcion para sumar

20

In [ ]:
res=sumasecuencia.sum()          # aca se prueba la funcion con los numeros 2 y 6 como ejemplo
print(res)                       # prueba para verificar que el codigo funciona

20

# Ejercicio 3: del archivo Encuesta de Sueldos de Openqube, calcular y comparar media y mediana de sueldos netos en Febrero

In [ ]:
Media=  100917.50               # se calcula la media (promedio) en Excel debido a que no hemos visto Pandas en el curso
Mediana= 80000.00               # se calcula la mediana en Excel debido a que no hemos visto Pandas en el curso
Comparacion=Media-Mediana       # la comparacion viene a ser la diferencia entre un valor y el otro, haciendo el mayor menos el menor
Comparacion                     # mostrar resultado de la comparacion

20917.5

In [ ]:
res=Comparacion                 # aca se prueba la formula de Comparacion
print(res)                      # prueba para verificar que el codigo funciona

20917.5