<a href="https://colab.research.google.com/github/vittoriadelsignore/Python/blob/main/Operaciones_b%C3%A1sicas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Algunos tipos de datos

#### Números

In [1]:
x = 3
Y=5.3
print(x, type(x))

3 <class 'int'>

In [2]:
print(x + 1)   # Suma
print(x - 1)   # Resta
print(x * 2)   # Multip
print(x ** 2)  # Expon

4
2
6
9

In [3]:
type(Y)

float

####Booleans

In [4]:
t, f = True, False
print(type(t))

<class 'bool'>

In [5]:
print(t and f) # Logica AND;
print(t or f)  # Logica OR;
print(not t)   # Logica NOT;
print(t != f)  # Logica XOR;

False
True
False
True

####Strings

In [6]:
hello = 'hello'   # se pueden utilizar comilla simple
world = "world"   # o doble comilla
print(hello, len(hello))

hello 5

In [8]:
hw = hello + ' ' + world  # asi concatenamos strings
print(hw)

hello world

####Lists

In [9]:
xs = [3, 1, 2]   # Crear una lista
print(xs, xs[2])

[3, 1, 2] 2

In [10]:
LISTA=[1,2,3]
LISTA_P=['PATO','PERRO']
LISTA_MIX=[1,4,'PERRO']
LISTA=[[1,2,3],[2,3,4]]

In [11]:
LISTA_P

['PATO', 'PERRO']

In [12]:
xs[2] = 'foo'    # Las listas pueden contener datos de diferentes tipos
print(xs)

[3, 1, 'foo']

In [13]:
xs.append('bar') # Podemos agregar nuevos elementos a la lista
print(xs)

[3, 1, 'foo', 'bar']

In [14]:
x = xs.pop()     # Y podemos remover elementos de la lista
print(x, xs)

bar [3, 1, 'foo']

### Operaciones con las Listas

In [15]:
nums = list(range(5))    # podemos crear una lista utilizando la func range 
print(nums)         
print(nums[2:4])    # de esta forma obtenemos solo los valores entre el index 2 y el 4
print(nums[2:])     # de esta forma obtenemos los valores desde el index 2 en adelante
print(nums[:2])     # de esta forma obtenemos los valores hasta el index 2
print(nums[:])
print(nums[2])      # de esta forma obtenemos todos los valores de la lista

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
2

In [16]:
#de esta forma utilizando la función 'for' nos podemos mover dentro de la lista
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [17]:
#estos son dos ejemplos de como con la función 'for' podemos realizar un cálculo para todos los elementos de la lista
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [18]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

Segundo Ejercicio

####Tuplas

Una tupla es una lista de valores ordenadas que no pueden ser modificada:

In [19]:
d = (1,2,3,4,5)  # Creación de una tupla
t = d*2       # Operaciones con tuplas
print(type(t))       
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

###Funciones

Una función de Python se define utilizando 'def' a continuación vemos dos ejemplos de como podemos definir una función y luego llamarla

In [20]:
def sign(x):
    if x > 0:
      return 'positive'
    elif x < 0:
      return 'negative'
    else:
      return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [21]:
def autosuma(numero):
  total=0
  if numero % 2==0:
    for n in range (numero):
      total+=n
    return total
  else:
    print (numero)
    return numero

In [22]:
autosuma(4)

6